{% extends 'base_app.html' %}
{% load static from staticfiles %}
{% load i18n icmo_utils humanize %}
{% block toolbar_tools %}
    {% include 'dashboards/includes/selector.html' %}
{% endblock %}
{% block app_js_libs %}
    <script src="{% static 'js/charts.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dashboards.js' %}" type="text/javascript"></script>
{% endblock %}
{% block app_extra_js %}
    {% include 'misc_widgets/horizontal_period_summary_grid_kendo_templates.html' %}
    <script type="text/javascript">
        $(function () {
            $('.dashboard-selector').change(function (e) {
                location.href = $(this).val();
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', ICMO.core.refreshCharts);
            $(window).on("resize", function () {
                kendo.resize('td');
            });
        });
    </script>
{% endblock %}
{% block app_summary_content %}
    {% include app_segment_content_template with segment=company is_summary=True %}
{% endblock %}
