# if(task_type == 'email'){ #
<i class="fa fa-envelope task-type-icon" title="Email"></i>
# } else if (task_type == 'email_design') { #
<i class="fa fa-envelope task-type-icon" title="Email Design"></i>
# } else if (task_type == 'email_content') { #
<i class="fa fa-envelope-o task-type-icon" title="Email Content"></i>
# } else if (task_type == 'landing_page_design') { #
<i class="fa fa-file-image-o task-type-icon" title="Landing Page Design"></i>
# } else if (task_type == 'landing_page_content') { #
<i class="fa fa-file-text-o task-type-icon" title="Landing Page Content"></i>
# } else if (task_type == 'content') { #
<i class="fa fa-book task-type-icon" title="Content"></i>
# } #