<p>
    1. <b>Term:</b> This Order Form ("<b>Order Form</b>") provides the additional terms and
    conditions applicable to the services and pricing for intelligentRevenue and associated services.
    This Order Form shall be effective as of the date ("<b>Order Form Date</b>"), and shall
    continue for one year ("<b>Term</b>"), unless written cancellation is received 30 days before
    the renewal date, this Agreement shall continue for another year.
</p>
<p>
    2. <b>General Terms and Conditions ("Master Subscription Agreement (MSA) / Service Level
    Agreement ("SLA"):</b> This Order Form is subject to and incorporates the terms and conditions
    from the MSA and SLA located at http://intelligentrevenue.com/legal/.
</p>
<p>
    3. <b>Fees and Payment Terms:</b> The subscription fees are paid quarterly in advance of each
    quarter and the Setup Fee is paid upfront to begin implementation,
    configuration and set up for each client. Client authorizes intelligentRevenue to initiate an ACH
    debit from Customer's applicable bank account, payment against a credit card or payment via
    Paypal. intelligentRevenue reserves the right to increase the recurring subscription fees upon the
    renewal date but in no event shall any increase exceed 5% annually.
</p>
<p>
    4. <b>Services Delivery:</b> As applicable, intelligentRevenue shall deliver the Success Plan
    Services as follows:<br>
    a) Revenue Engineering Workshop to map revenue and customer acquisition goals (2-4 hours).<br>
    b) Set Up and Implementation for intelligentRevenue<br>
    c) Administrative training<br>
    d) Act in an Advisory role during the 1st quarter use of intelligentRevenue.<br>
    Other Complementary Services will be agreed upon and delivered under a separate Statement of
    Work (SOW).
</p>
<p>
    5. <b>Version Control:</b> Here are the versions required for intelligentRevenue:<br>
    a) Customer will use or upgrade to the Salesforce CRM Enterprise version which is required to
    provide APEX triggers for integration with Pardot. intelligentRevenue will configure these
    integration services.
    b) Customer will use any version of the Pardot Marketing Automation (MA) system which can be
    implemented and configured under a separate SOW.
</p>
<p>
    6. <b>Execution:</b> Each person signing below represents and warrants that he or she is duly
    authorized to execute and deliver this Order Form.
</p>
<p>
    Each party represents and warrants that the execution and delivery of this Order Form and the
    performance of its obligations hereunder have been duly authorized in accordance wit its
    corporate governance documents and that the Order Form is a valid and legal agreement binding
    on such party and enforceable in accordance with its terms.
</p>